.container{
    max-width: min(1180px, 92%);
    margin: 0 auto;
}
.text-blue{
    color: #dc2626;
}
.bg-blue{
    background-color: #dc2626;
}
.text-blue-dark{
    color: #991b1b;
}
.bg-blue-dark{
    background-color: #991b1b;
}

button{
    cursor: pointer;
}
@media (max-width: 600px) {
    .container{
        max-width: 95%;
    }
}